# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Backup files
*~

# Eclipse project files
/.cproject
/.project

# build files directory
/build

# android-client
.gradle
.DS_Store
/src/android-client/local.properties
/src/android-client/.idea/workspace.xml
/src/android-client/.idea/libraries
/src/android-client/build
/src/android-client/app/src/main/res/values/private_keys.xml